h1 {
    color: #1b4b89;
    font-size: 2em;
    font-weight: 400;
    margin: 0 0 0.5em;
    text-align: center;
}


p {
    grid-row: 2;
    margin: 0;
    text-align: center;
    grid-column: 1 / -1;
}

