h1 {
    color: #1b4b89;
    font-size: 2em;
    font-weight: 400;
    margin: 0 0 0.5em;
    text-align: center;
}


p {
    grid-column: 1/4;
    margin-top: 25px;
    grid-row: 1/2; 
}

